{% load staticfiles %}

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>HowYouGit</title>

    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/octicons/2.1.2/octicons.css' rel='stylesheet' type='text/css'>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script type="text/javascript" src="{% static 'src/sigma.core.js' %}"></script>
    <script src="{% static 'src/conrad.js'%}"></script>
    <script src="{% static 'src/utils/sigma.utils.js'%}"></script>
    <script src="{% static 'src/utils/sigma.polyfills.js'%}"></script>
    <script src="{% static 'src/sigma.settings.js'%}"></script>
    <script src="{% static 'src/classes/sigma.classes.dispatcher.js'%}"></script>
    <script src="{% static 'src/classes/sigma.classes.configurable.js'%}"></script>
    <script src="{% static 'src/classes/sigma.classes.graph.js'%}"></script>
    <script src="{% static 'src/classes/sigma.classes.camera.js'%}"></script>
    <script src="{% static 'src/classes/sigma.classes.quad.js'%}"></script>
    <script src="{% static 'src/classes/sigma.classes.edgequad.js'%}"></script>
    <script src="{% static 'src/captors/sigma.captors.mouse.js'%}"></script>
    <script src="{% static 'src/captors/sigma.captors.touch.js'%}"></script>
    <script src="{% static 'src/renderers/sigma.renderers.canvas.js'%}"></script>
    <script src="{% static 'src/renderers/sigma.renderers.webgl.js'%}"></script>
    <script src="{% static 'src/renderers/sigma.renderers.svg.js'%}"></script>
    <script src="{% static 'src/renderers/sigma.renderers.def.js'%}"></script>
    <script src="{% static 'src/renderers/webgl/sigma.webgl.nodes.def.js'%}"></script>
    <script src="{% static 'src/renderers/webgl/sigma.webgl.nodes.fast.js'%}"></script>
    <script src="{% static 'src/renderers/webgl/sigma.webgl.edges.def.js'%}"></script>
    <script src="{% static 'src/renderers/webgl/sigma.webgl.edges.fast.js'%}"></script>
    <script src="{% static 'src/renderers/webgl/sigma.webgl.edges.arrow.js'%}"></script>
    <script src="{% static 'src/renderers/canvas/sigma.canvas.labels.def.js'%}"></script>
    <script src="{% static 'src/renderers/canvas/sigma.canvas.hovers.def.js'%}"></script>
    <script src="{% static 'src/renderers/canvas/sigma.canvas.nodes.def.js'%}"></script>
    <script src="{% static 'src/renderers/canvas/sigma.canvas.edges.def.js'%}"></script>
    <script src="{% static 'src/renderers/canvas/sigma.canvas.edges.curve.js'%}"></script>
    <script src="{% static 'src/renderers/canvas/sigma.canvas.edges.arrow.js'%}"></script>
    <script src="{% static 'src/renderers/canvas/sigma.canvas.edges.curvedArrow.js'%}"></script>
    <script src="{% static 'src/renderers/canvas/sigma.canvas.edgehovers.def.js'%}"></script>
    <script src="{% static 'src/renderers/canvas/sigma.canvas.edgehovers.curve.js'%}"></script>
    <script src="{% static 'src/renderers/canvas/sigma.canvas.edgehovers.arrow.js'%}"></script>
    <script src="{% static 'src/renderers/canvas/sigma.canvas.edgehovers.curvedArrow.js'%}"></script>
    <script src="{% static 'src/renderers/canvas/sigma.canvas.extremities.def.js'%}"></script>
    <script src="{% static 'src/renderers/svg/sigma.svg.utils.js'%}"></script>
    <script src="{% static 'src/renderers/svg/sigma.svg.nodes.def.js'%}"></script>
    <script src="{% static 'src/renderers/svg/sigma.svg.edges.def.js'%}"></script>
    <script src="{% static 'src/renderers/svg/sigma.svg.edges.curve.js'%}"></script>
    <script src="{% static 'src/renderers/svg/sigma.svg.labels.def.js'%}"></script>
    <script src="{% static 'src/renderers/svg/sigma.svg.hovers.def.js'%}"></script>
    <script src="{% static 'src/middlewares/sigma.middlewares.rescale.js'%}"></script>
    <script src="{% static 'src/middlewares/sigma.middlewares.copy.js'%}"></script>
    <script src="{% static 'src/misc/sigma.misc.animation.js'%}"></script>
    <script src="{% static 'src/misc/sigma.misc.bindEvents.js'%}"></script>
    <script src="{% static 'src/misc/sigma.misc.bindDOMEvents.js'%}"></script>
    <script src="{% static 'src/misc/sigma.misc.drawHovers.js'%}"></script>

    <style>

        body {
            padding-top: 6%;
            font-family: 'Raleway', serif;
        }

        h1, h2, h3, h4 {
            font-family: 'Raleway', serif;
        }

        .loading-img {
            margin:auto;
            display: block;
            margin-top: 30%;
        }

        .loading-text {
            text-align: center;
        }

    </style>

</head>

<body>

    <div class="container">

        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">HowYouGit</a>
                </div>

            </div><!-- /.container-fluid -->
        </nav>

        <div class="row">

            {% block content %}

            {% endblock content %}

        </div>
    </div>

</body>

</html>
