{% extends "base.html" %}

{% block content %}

    <style>
        .main-form {
            margin: 0 auto;
            width: 80%;
        }

        .back-img { 
            margin-top: 20%;
        }

        .back-img > img {
              -webkit-filter: brightness(120%);  
        }

    </style>

    <div class="col-md-2"> </div>

    <div class="col-md-8">

        <div class="main-form">
            <h2><span class="mega-octicon more-mega octicon-mark-github"></span> HowYouGit</h2>
            <br />
            <h4><a href="/user">Informations and statistics about your <span class="octicon octicon-logo-github"></span> account</a></h4>
            <h4>Relevant <a href="/location">users</a> and <a href="/repos_location">repositories</a> by location</h4>
            <h4><a href="/user">Who to follow?</a> Users suggetions based on your profile</h4>
        </div>

    </div>

    <div class="col-md-2"> </div>

    <div class="row">
        <div class="col-md-12 back-img">
            <img src="https://gigaom2.files.wordpress.com/2013/09/screen-shot-2013-09-03-at-2-52-20-pm.png" />
        </div>
    </div> 

{% endblock content %}
