{% extends "base.html" %}

{% block content %}



    <style type="text/css">
        
        .charts {
            margin-bottom: 10%;
              
        }
        .img-circle{
            width:10%;
            margin-top:0%;
            margin-right: 2%;
            
        }

        .follow-username {
            margin-top: 3%;
            
        }
        #graph-container {
            
            height: 260px;
            overflow: auto;
            margin: 12px 0;
        }   
        
        
    </style>

    <div class="col-md-3"> </div>

    <div class="col-md-6">

                <div class="repos-info">
            <h2><span class="mega-octicon octicon-repo"></span> {{ username }}'s repositories</h2>
            <br>
            {% for repo in repos %}
                <h3>{{ repo.name }}</h3>
                <a href="{{ repo.url }}">({{ repo.url }})</a>
                <p>Language: {{ repo.language }}</p>
                <p>Commits: {{ repo.commits }}</p>
                <p>Contributors: {{ repo.contributors }}</p>
                <hr>
            {% endfor %}
        </div>

        <div id="pie-chart-languages" class="charts">
        </div>
        <hr>
        <div id="contributors-chart" class="charts">
        </div>
        <h2 ><span class="mega-octicon octicon-organization"></span> Contributions Graph</h2>
        <div id="graph-container"></div>
        <div class="follow">
            <h2>Who to follow </h2> 
                <br>
                <br>   
                {% for follow in who_to_follow %}
                        <a href="http://github.com/{{ follow.login }}"><img src="{{ follow.image }}" class="img-circle pull-left"></a>
                        <h4 class="follow-username">{{follow.login}}</h4>   
                        <div class="pull-right"><i class="fa fa-times"></i></div>
                        <div style="clear:both"></div>
                        <hr>
                {% endfor %}
        </div>
        

        </div>
        
                
        
            
    </div>
    <div class="col-md-3">
    </div>

<script>
    var i,
        s,
        N ={{size_contributors}} ,
        E = {{size_contributors}},
        g = {
          nodes: [],
          edges: []
        };
        g.nodes.push({
            id: 'n',
            label: '{{username}}',
            x: 0,
            y: 0,
            size: {{max_contributor}}*20+20,
            color: '#003F87'
          });
        {% for key, value in contributors.items %}                
            g.nodes.push({
                id: 'n' + '{{key}}',
                label: '{{key}}'+':'+{{value}} +' project(s)' ,
                x: Math.random()+1,
                y: Math.random()+1,
                size: ({{value}}%({{max_contributor}}+1)*20)+3,
                color: '#0099CC'
              });
            g.edges.push({
                id: '{{key}}',
                label:{{value}},
                source: 'n',
                target: 'n' + '{{key}}',
                size: 100,
                color: '#00EE76'
            });
        {% endfor %}
            
    // Generate a random graph:
  

    // Instantiate sigma:
    s = new sigma({
      graph: g,
      container: 'graph-container'
    });    


$(function () {

    $(document).ready(function () {

        $('#pie-chart-languages').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                style: {
                    fontFamily: 'Raleway'
                }
            },
            title: {
                text: 'Languages overview'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            series: [{
                type: 'pie',
                name: 'Languages',
                data: [
                    {% for key, value in languages.items %}
                        [ '{{ key }}', {{ value }} ],
                    {% endfor %}
                ]
            }]
        });

        $('#contributors-chart').highcharts({
            chart: {
                type: 'column',
                style: {
                    fontFamily: 'Raleway'
                }
            },
            title: {
                text: 'In how many projects each of {{ username }}\'s friends contributed?'
            },
            subtitle: {
                text: 'Contributors to {{ username }} projects'
            },
            xAxis: {
                categories: [
                    {% for key, value in contributors.items %}
                        '{{ key }}',
                    
                    {% endfor %}
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Projects'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr> <td style="padding:0"><b>{point.y}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: 'GitHub users',
                data: [
                    {% for key, value in contributors.items %}
                        {{ value }},
                    {% endfor %}
                ]
            }]
        });

    });

});
</script>

{% endblock content %}
