{% extends "base.html" %}

{% block content %}

    <div class="col-md-3"> </div>

    <div class="col-md-6">

        <div class="repos-info">
            <h2><span class="mega-octicon octicon-repo"></span> {{ username }}'s repositories</h2>
            <br>
            {% for repo in repos %}
                <h3>{{ repo.name }}</h3>
                <a href="{{ repo.url }}">({{ repo.url }})</a>
                <p>Language: {{ repo.language }}</p>
                <p>Commits: {{ repo.commits }}</p>
                <p>Contributors: {{ repo.contributors }}</p>
                <hr>
            {% endfor %}
        </div>

        <div id="pie-chart-languages">
        </div>

    </div>

    <div class="col-md-3"></div>

    <script>

$(function () {

    $(document).ready(function () {

        // Build the chart
        $('#pie-chart-languages').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: 'Languages overview'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            series: [{
                type: 'pie',
                name: 'Languages',
                data: [
                    {% for key, value in languages.items %}
                        [ '{{ key }}', {{ value }} ],
                    {% endfor %}
                ]
            }]
        });
    });

});
</script>

{% endblock content %}